openapi: 3.0.0
info:
  title: "Voice Agents API: Agent Versioning"
  version: 1.0.0
  description: "Part of the Voice Agents (Atoms) API. Shared schemas live in components.yaml."
servers:
  - url: https://api.smallest.ai/atoms/v1
    description: Production server
paths:
  /agent/{id}/drafts:
    post:
      summary: Create a draft
      deprecated: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: agent_versioning_drafts
      x-fern-sdk-method-name: create_draft
      description: |
        **Deprecated on the v2 branch model.** Migrate to `PUT /agent/{id}/branches/{branchId}/draft`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        Create a new draft from an existing published version or another draft. At least one of sourceVersionId or sourceDraftId is required (both may be sent simultaneously).
      tags:
        - Agent Versioning - Drafts
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/CreateDraftRequest"
      responses:
        "201":
          description: Draft created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/AgentVersion"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent not found
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

    get:
      summary: List active drafts
      deprecated: true
      x-fern-availability: deprecated
      description: |
        **Deprecated on the v2 branch model.** Migrate to `GET /agent/{id}/branches (`openDraftId` / `hasOpenDraft`)`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        List all active (non-discarded) drafts for an agent.
      tags:
        - Agent Versioning - Drafts
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: "./components.yaml#/components/schemas/AgentVersion"
                        - type: object
                          properties:
                            lastEditorName:
                              type: string
                              nullable: true
                              description: Display name of the last editor
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent not found
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/drafts/{draftId}:
    get:
      deprecated: true
      x-fern-availability: deprecated
      summary: Get draft detail
      description: |
        **Deprecated.** By-id reads are kept working during the v1 coexistence window (~1 month). A v1 `draftId` remains resolvable. Migrate to `GET /agent/{id}/branches/{branchId}/draft`. Will be removed at the sunset date.
        
        Returns the latest revision of a draft along with its edit history.
      tags:
        - Agent Versioning - Drafts
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/DraftId"
        - name: limit
          in: query
          required: false
          description: Max number of edit history entries to return (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      latest:
                        $ref: "./components.yaml#/components/schemas/AgentVersion"
                      editHistory:
                        type: array
                        items:
                          $ref: "./components.yaml#/components/schemas/DraftEditHistoryEntry"
                      editCount:
                        type: integer
                        description: Total number of edits on this draft
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent or draft not found
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

    patch:
      summary: Rename a draft
      deprecated: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: agent_versioning_drafts
      x-fern-sdk-method-name: rename_draft
      description: |
        **Deprecated on the v2 branch model.** Migrate to `PUT /agent/{id}/branches/{branchId}/draft`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        |
        Rename a draft. For config changes, use PATCH /agent/{id}/drafts/{draftId}/config instead.
      tags:
        - Agent Versioning - Drafts
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/DraftId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - draftName
              properties:
                draftName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: New name for the draft (1–100 characters)
      responses:
        "200":
          description: Draft renamed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      draftName:
                        type: string
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent or draft not found
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

    delete:
      summary: Discard a draft
      deprecated: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: agent_versioning_drafts
      x-fern-sdk-method-name: discard_draft
      description: |
        **Deprecated on the v2 branch model.** Migrate to `DELETE /agent/{id}/branches/{branchId}/draft`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        Discard (soft-delete) a draft. Only the draft creator or an admin can discard.
      tags:
        - Agent Versioning - Drafts
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/DraftId"
      responses:
        "200":
          description: Draft discarded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: "null"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          description: |
            Forbidden. Returned in two cases:
            - The caller is not the draft creator or an org admin
            - The agent uses workflow_graph and the org lacks conversational agents access
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "404":
          description: Agent or draft not found
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/drafts/{draftId}/diff:
    get:
      deprecated: true
      x-fern-availability: deprecated
      summary: Get draft diff
      description: |
        **Deprecated.** Kept working during the v1 coexistence window (~1 month). Migrate to `GET /agent/{id}/diff?a=<branchId>:draft&b=<revisionId>`. Will be removed at the sunset date.
        
        Compare a draft against its source version or another specified version.
      tags:
        - Agent Versioning - Drafts
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/DraftId"
        - name: compareTo
          in: query
          required: false
          description: Version ID to compare against. If omitted, compares against the source version.
          schema:
            type: string
            pattern: "^[a-f\\d]{24}$"
      responses:
        "200":
          description: Diff returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      sections:
                        type: object
                        description: Keyed by config section name. Each entry shows the before/after state of that section.
                        additionalProperties:
                          type: object
                          properties:
                            before:
                              nullable: true
                              description: Section value in the comparison target (null if section did not exist)
                            after:
                              nullable: true
                              description: Section value in the draft (null if section was removed)
                            changed:
                              type: boolean
                              description: Whether the section differs between the draft and the comparison target
                      hasChanges:
                        type: boolean
                        description: True if at least one section differs
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent or draft not found
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/drafts/{draftId}/publish:
    post:
      summary: Publish a draft
      deprecated: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: agent_versioning_drafts
      x-fern-sdk-method-name: publish_draft
      description: |
        **Deprecated on the v2 branch model.** Migrate to `POST /agent/{id}/branches/{branchId}/draft/publish`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        Publish a draft as a new versioned release. Optionally activate it immediately.
      tags:
        - Agent Versioning - Drafts
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/DraftId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/PublishDraftRequest"
      responses:
        "201":
          description: Draft published as a new version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/AgentVersion"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent or draft not found
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/drafts/{draftId}/test-call:
    post:
      deprecated: true
      x-fern-availability: deprecated
      summary: Test call with draft config
      description: |
        **Deprecated.** Test-calls are exempt from the v1 write-block and remain functional. Migrate to `POST /agent/{id}/branches/{branchId}/test-call` with `includeDraft: true`. Will be removed at the sunset date.
        
        Initiate a test call using the draft's resolved configuration.
      tags:
        - Agent Versioning - Drafts
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/DraftId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/TestCallRequest"
      responses:
        "200":
          description: Test call initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    description: Test call result details
                    properties:
                      callId:
                        type: string
                        description: The call ID of the initiated test call. Use with GET /conversation/{id} to fetch the call log.
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent or draft not found
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/drafts/{draftId}/config:
    patch:
      summary: Edit draft config (prompt, tools, post-call metrics, voice, etc.)
      deprecated: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: agent_versioning_drafts
      x-fern-sdk-method-name: update_draft_config
      description: |
        **Deprecated on the v2 branch model.** Migrate to `PUT /agent/{id}/branches/{branchId}/draft`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        |
        Update the configuration of a draft. This single endpoint is how every
        agent-level config field is changed: prompt, tools, voice, language,
        **post-call analytics (disposition metrics)**, and more. There is no
        standalone post-call-analytics endpoint — it lives here as the
        `postCallAnalyticsConfig` body field.

        ## Post-Call Analytics

        Pass a `postCallAnalyticsConfig` object to configure disposition
        metrics (STRING, BOOLEAN, INTEGER, ENUM, DATETIME) that are
        automatically extracted from each completed call, along with the
        `useInternalAnalyticsModel` and `useReasoningModel` flags. See the
        [Post-Call Metrics guide](/atoms/atoms-platform/features/post-call-metrics) for a
        full Python walkthrough and disposition metric schema reference.

        ## Full payload

        Accepts the full agent-shaped config payload (language, synthesizer,
        slmModel, defaultVariables, preCallAPI, etc.) plus two draft-specific
        fields:

        - `singlePromptConfig` — prompt and tools (end_call, transfer_call,
          api_call, extract_dynamic_variables, knowledge_base_search).
        - `postCallAnalyticsConfig` — disposition metrics + analytics/
          reasoning model flags.

        Each PATCH increments the draft's revision counter. Config is not
        live until the draft is published and activated (see
        `/drafts/{draftId}/publish` and `/versions/{versionId}/activate`).
      tags:
        - Agent Versioning - Drafts
        - Post-Call Analytics
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/DraftId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/DraftConfigRequest"
      responses:
        "200":
          description: Draft config updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/AgentVersion"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent or draft not found
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

  # ── Agent Versioning: Published Versions ───────────────────────────────
  /agent/{id}/versions:
    get:
      summary: List published versions
      deprecated: true
      x-fern-availability: deprecated
      description: |
        **Deprecated on the v2 branch model.** Migrate to `GET /agent/{id}/branches/{branchId}/revisions`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        |
        List published versions for an agent with pagination and optional pin filter.
        The `total` value currently represents the total number of published versions
        for the agent, not necessarily the filtered count when `isPinned` is used.
      tags:
        - Agent Versioning - Versions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - name: limit
          in: query
          required: false
          description: Number of versions to return (1-100, default 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: skip
          in: query
          required: false
          description: Number of versions to skip (default 0)
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: isPinned
          in: query
          required: false
          description: Filter by pinned status
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      versions:
                        type: array
                        items:
                          allOf:
                            - $ref: "./components.yaml#/components/schemas/AgentVersion"
                            - type: object
                              properties:
                                publishedByName:
                                  type: string
                                  nullable: true
                                  description: Display name of the user who published
                                activatedByName:
                                  type: string
                                  nullable: true
                                  description: Display name of the user who activated the version
                      total:
                        type: integer
                        description: Total published versions for the agent. When `isPinned` is used, this may not equal the filtered result count.
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/WorkflowGraphAgentAccessForbiddenError"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/versions/diff:
    get:
      deprecated: true
      x-fern-availability: deprecated
      summary: Diff two versions
      description: |
        **Deprecated.** Kept working during the v1 coexistence window (~1 month). Migrate to `GET /agent/{id}/diff?a=<revisionId>&b=<revisionId>`. Will be removed at the sunset date.
        
        Compare two version or draft revision records side-by-side by their IDs. The implementation tries published versions first and can fall back to the latest draft revision.
      tags:
        - Agent Versioning - Versions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - name: versionA
          in: query
          required: true
          description: ID of the first version
          schema:
            type: string
            pattern: "^[a-f\\d]{24}$"
        - name: versionB
          in: query
          required: true
          description: ID of the second version
          schema:
            type: string
            pattern: "^[a-f\\d]{24}$"
      responses:
        "200":
          description: Diff returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/AgentVersionDiff"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/WorkflowGraphAgentAccessForbiddenError"
        "404":
          description: Agent or version not found
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/versions/{versionId}:
    get:
      deprecated: true
      x-fern-availability: deprecated
      summary: Get version detail
      description: |
        **Deprecated.** By-id reads are kept working during the v1 coexistence window (~1 month). A v1 `versionId` equals its migrated `revisionId`, so this continues to resolve across branches. Migrate to `GET /agent/{id}/branches/{branchId}/revisions/{revisionId}`. Will be removed at the sunset date.
        
        |
        Returns the full detail of a specific published version (read-only).
        Published versions are config-immutable — to modify config, create a draft from
        this version and publish it as a new version.
      tags:
        - Agent Versioning - Versions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/VersionId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      version:
                        $ref: "./components.yaml#/components/schemas/AgentVersion"
                      resolvedConfig:
                        type: object
                        description: Resolved agent configuration keyed by config section.
                        additionalProperties: true
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/WorkflowGraphAgentAccessForbiddenError"
        "404":
          description: Agent or version not found
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

    patch:
      summary: Update version metadata (label, description, pin only)
      deprecated: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: agent_versioning_versions
      x-fern-sdk-method-name: update_version_metadata
      description: |
        **Deprecated on the v2 branch model.** Migrate to `Metadata edits removed on v2. Set `label` at publish via `POST /agent/{id}/branches/{branchId}/draft/publish`.`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        |
        Update a published version's label, description, or pinned status. At least one field is required.
        Published versions (both active and inactive) are config-immutable — their agent
        configuration cannot be changed. To modify config, create a new draft from the version,
        edit the draft, and publish it as a new version.
      tags:
        - Agent Versioning - Versions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/VersionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/UpdateVersionMetaRequest"
      responses:
        "200":
          description: Version metadata updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/AgentVersion"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/WorkflowGraphAgentAccessForbiddenError"
        "404":
          description: Agent or version not found
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/versions/{versionId}/activate:
    patch:
      summary: Activate a version
      deprecated: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: agent_versioning_versions
      x-fern-sdk-method-name: activate_version
      description: |
        **Deprecated on the v2 branch model.** Migrate to `POST /agent/{id}/branches/{branchId}/live or POST /agent/{id}/branches/{branchId}/revisions/{revisionId}/restore`. When `ENABLE_BRANCH_MODEL` is on, this endpoint returns `409 versioning_v2_migration_required` with the `Deprecation: true` header. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
        
        |
        Set a published version as the active version for the agent. The previously
        active version is deactivated. This does not modify the version's config — it
        only changes which version serves live traffic. Activation is idempotent: if
        the version is already active, the endpoint returns that version without
        changing config.
      tags:
        - Agent Versioning - Versions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/VersionId"
      responses:
        "200":
          description: Version activated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/AgentVersion"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/WorkflowGraphAgentAccessForbiddenError"
        "404":
          description: Agent or version not found
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "409":
          $ref: "./components.yaml#/components/responses/VersioningV2MigrationRequired"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/versions/{versionId}/test-call:
    post:
      deprecated: true
      x-fern-availability: deprecated
      summary: Test call with version config
      description: |
        **Deprecated.** Test-calls are exempt from the v1 write-block and remain functional. Migrate to `POST /agent/{id}/branches/{branchId}/test-call` with `revisionId`. Will be removed at the sunset date.
        
        |
        Initiate a test call using a specific published version's configuration.
        The response always includes `conversationId` and `callId`. For `webcall`
        and `chat`, it also includes `token`, `roomName`, and `host`. Those fields
        are omitted for `telephony`.
      tags:
        - Agent Versioning - Versions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/VersionId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/TestCallRequest"
      responses:
        "200":
          description: Test call initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    required:
                      - conversationId
                      - callId
                    properties:
                      conversationId:
                        type: string
                        description: Conversation ID created for the test call
                      callId:
                        type: string
                        description: Call ID created for the test call
                      token:
                        type: string
                        description: Returned for webcall and chat modes only
                      roomName:
                        type: string
                        description: Returned for webcall and chat modes only
                      host:
                        type: string
                        description: Returned for webcall and chat modes only
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/WorkflowGraphAgentAccessForbiddenError"
        "404":
          description: Agent or version not found
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

  # ══════════════════════════════════════════════════════════════════════
  # Agent Versioning v2: Branches, Drafts, Revisions
  # Base: /agent/{id}/branches
  # Feature-gated behind ENABLE_BRANCH_MODEL. See the migration guide at
  # /voice-agents/deprecations/agent-versioning-migration for the mapping
  # from v1 Drafts/Versions endpoints.
  # ══════════════════════════════════════════════════════════════════════
  /agent/{id}/branches:
    post:
      operationId: createBranch
      summary: Create a branch
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: create_branch
      description: |
        Fork a new branch from an existing branch. The source branch must have at least one committed revision. Branch names are unique per agent; the name `Main` is reserved for the default branch. Creating from a branch whose latest draft is still `scanning` returns `409 source_scanning`.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/CreateBranchRequest"
      responses:
        "201":
          description: Branch created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/Branch"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "409":
          $ref: "./components.yaml#/components/responses/ConflictErrorResponse"
        "423":
          $ref: "./components.yaml#/components/responses/LockedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

    get:
      operationId: listBranches
      summary: List branches
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: list
      description: List all non-archived branches for an agent, with per-branch draft and revision counts.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      branches:
                        type: array
                        items:
                          $ref: "./components.yaml#/components/schemas/BranchSummary"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}:
    get:
      operationId: getBranch
      summary: Get branch
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: get
      description: Return a single branch summary, including draft state (`openDraftId`, `hasOpenDraft`) and head revision.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/BranchSummary"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

    patch:
      operationId: renameBranch
      summary: Rename a branch
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: rename
      description: Rename a non-default, non-archived branch. `Main` cannot be renamed; a name that is already in use on this agent returns `409 branch_name_exists`.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/RenameBranchRequest"
      responses:
        "200":
          description: Renamed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/Branch"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          description: Forbidden. Attempting to rename `Main`, or the caller lacks write access.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/ApiResponse"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "409":
          $ref: "./components.yaml#/components/responses/ConflictErrorResponse"
        "423":
          $ref: "./components.yaml#/components/responses/LockedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/archive:
    post:
      operationId: archiveBranch
      summary: Archive a branch
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: archive
      description: |
        Archive a branch. `Main` cannot be archived. The live branch cannot be archived; make another branch live first. Archived branches are hidden from list views but their revisions remain queryable by ID.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      responses:
        "200":
          description: Archived.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      archived:
                        type: boolean
                        example: true
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          description: Forbidden. `Main` cannot be archived, the live branch cannot be archived, or the caller lacks write access.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/ApiResponse"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "423":
          $ref: "./components.yaml#/components/responses/LockedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/live:
    post:
      operationId: makeBranchLive
      summary: Make a branch live
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: make_live
      description: |
        Make this branch the live branch. Its `headRevisionId` becomes the config that serves production traffic. The previously-live branch becomes not-live automatically. The branch must be non-archived, must have at least one `committed` (security-passed) revision, and its head revision must have passed the security scan.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      responses:
        "200":
          description: Branch is now live.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/BranchSummary"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          description: Forbidden. Branch is archived, security scan has not passed on the head revision, or the caller lacks write access.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/ApiResponse"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "409":
          $ref: "./components.yaml#/components/responses/ConflictErrorResponse"
        "423":
          $ref: "./components.yaml#/components/responses/LockedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/draft:
    put:
      operationId: updateBranchDraft
      summary: Write to draft
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: update_draft
      description: |
        Upsert the open draft on this branch. If no draft is open, one is created automatically. The request body is an agent config partial in the same camelCase shape as `GET /agent/{id}` (`globalPrompt`, `firstMessage`, `synthesizer`, `language`, `voiceDetectionConfig`, `smartTurnConfig`, ...) and must contain at least one recognized field; the server merges it into the existing draft and returns the resulting draft as a revision-shaped snapshot.

        **Send native JSON types, not stringified values.** Arrays (`language.supported: ["en"]`), booleans (`language.switching.isEnabled: false`), and objects (`timezone: {"label": "(GMT+5:30) Asia/Kolkata", "offset": 330}`) must be sent as real JSON. Passing `"[\"en\"]"`, `"false"`, or `"Asia/Kolkata"` instead is refused with a Zod-style error naming the offending path and the received type (e.g. `Invalid config: language.supported: Expected array, received string`). This is the single most common integration bug on this endpoint.

        Publish the draft with `POST /agent/{id}/branches/{branchId}/draft/publish` to make the changes live. The draft PUT alone does **not** affect running calls.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/UpdateBranchDraftRequest"
      responses:
        "200":
          description: Draft updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/Revision"
        "400":
          description: Bad request. Empty body, no recognized field, or validation error on the config partial.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "409":
          description: >-
            Conflict. One of three flavors: v1 endpoint used under branch mode
            (`error_type: "versioning_v2_migration_required"`); stale
            `expectedRevision` (`DraftConflictError` with
            `data.conflict.{expectedRevision, latestRevision, diffs}`); or
            `base_revision_unavailable` (the `expectedRevision` references a
            revision this branch does not have). Discriminate on `error_type`
            or on body shape.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "./components.yaml#/components/schemas/VersioningV2MigrationRequiredResponse"
                  - $ref: "./components.yaml#/components/schemas/DraftConflictError"
                  - $ref: "./components.yaml#/components/schemas/ConflictErrorResponse"
        "423":
          $ref: "./components.yaml#/components/responses/LockedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

    get:
      operationId: getBranchDraft
      summary: Get open draft
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: get_draft
      description: Return the currently-open draft on this branch, including per-edit history.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/DraftDetail"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: No open draft on this branch, or the branch does not exist.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

    delete:
      operationId: discardBranchDraft
      summary: Discard open draft
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: discard_draft
      description: Discard the open draft on this branch. Any unpublished edits are lost. The last committed revision remains the branch head.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      responses:
        "200":
          description: Discarded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      discarded:
                        type: boolean
                        example: true
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: No open draft on this branch, or the branch does not exist.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/draft/publish:
    post:
      operationId: publishBranchDraft
      summary: Publish draft
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: publish_draft
      description: |
        Publish the open draft on this branch as a new revision.

        The response is `200` with `state: "committed"` when the security scan finishes synchronously, and `202` with `state: "scanning"` when the scan is deferred. A `scanning` revision is visible in history but cannot be restored or made live until it becomes `committed`. If the scan fails, the revision is left in `scanning` state and this endpoint returns `409` on subsequent publishes until the scan is retried.

        Publishing on the live branch pushes to production immediately.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/PublishBranchDraftRequest"
      responses:
        "200":
          description: Draft committed synchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/PublishResult"
        "202":
          description: Security scan queued. Poll `GET /agent/{id}/branches/{branchId}/revisions` until the returned revision transitions to `committed`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/PublishResult"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          description: Forbidden. Branch is archived or the caller lacks write access.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/ApiResponse"
        "404":
          description: No open draft on this branch, or the branch does not exist.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "409":
          $ref: "./components.yaml#/components/responses/ConflictErrorResponse"
        "423":
          $ref: "./components.yaml#/components/responses/LockedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/draft/publish/cancel:
    post:
      operationId: cancelBranchDraftPublish
      summary: Cancel in-flight publish
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: cancel_publish
      description: Cancel a publish that is currently scanning. Idempotent. Returns `200` even if no scan is active.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      responses:
        "200":
          description: Cancel processed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      cancelled:
                        type: boolean
                        example: true
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/revisions:
    get:
      operationId: listBranchRevisions
      summary: List revisions on a branch
      x-fern-sdk-group-name: agent_versioning_revisions
      x-fern-sdk-method-name: list
      description: Paginated list of committed and scanning revisions on this branch, newest first.
      tags:
        - Agent Versioning - Revisions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: skip
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      revisions:
                        type: array
                        items:
                          $ref: "./components.yaml#/components/schemas/Revision"
                      total:
                        type: integer
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/revisions/{revisionId}:
    get:
      operationId: getRevision
      summary: Get revision
      x-fern-sdk-group-name: agent_versioning_revisions
      x-fern-sdk-method-name: get
      description: Return a single revision plus its `resolvedConfig` (the fully-merged agent config at that revision).
      tags:
        - Agent Versioning - Revisions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
        - $ref: "./components.yaml#/components/parameters/RevisionId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      revision:
                        $ref: "./components.yaml#/components/schemas/Revision"
                      resolvedConfig:
                        type: object
                        description: Fully-merged agent config at this revision.
                        additionalProperties: true
        "400":
          description: Bad request. Invalid ID, or the revision does not belong to this branch.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/revisions/{revisionId}/history:
    get:
      operationId: getRevisionHistory
      summary: Get revision publish trail
      x-fern-sdk-group-name: agent_versioning_revisions
      x-fern-sdk-method-name: get_history
      description: |
        Return the publish trail for a revision: who published it, and the ordered list of prior revisions on this branch with the sections that changed at each step.
      tags:
        - Agent Versioning - Revisions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
        - $ref: "./components.yaml#/components/parameters/RevisionId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      revision:
                        $ref: "./components.yaml#/components/schemas/Revision"
                      publishedBy:
                        type: string
                      trail:
                        type: array
                        items:
                          type: object
                          properties:
                            revision:
                              $ref: "./components.yaml#/components/schemas/Revision"
                            changedSections:
                              type: array
                              items:
                                type: string
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/revisions/{revisionId}/restore:
    post:
      operationId: restoreRevision
      summary: Restore a revision
      x-fern-sdk-group-name: agent_versioning_revisions
      x-fern-sdk-method-name: restore
      description: |
        Republish an older revision as a new revision at the head of this branch. Restore does not overwrite history; the older revision keeps its ID, and a new revision is committed on top.

        The response mirrors `POST /agent/{id}/branches/{branchId}/draft/publish`: `200 committed` if the scan is synchronous, `202 scanning` if deferred. Only one publish or restore can be in flight per branch at a time.
      tags:
        - Agent Versioning - Revisions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
        - $ref: "./components.yaml#/components/parameters/RevisionId"
      responses:
        "200":
          description: Restored synchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/PublishResult"
        "202":
          description: Security scan queued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/PublishResult"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          description: Forbidden. Source revision has not passed its security scan, or the caller lacks write access.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/ApiResponse"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "409":
          $ref: "./components.yaml#/components/responses/ConflictErrorResponse"
        "423":
          $ref: "./components.yaml#/components/responses/LockedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/branches/{branchId}/test-call:
    post:
      operationId: branchTestCall
      summary: Start a test call against a branch
      x-fern-sdk-group-name: agent_versioning_branches
      x-fern-sdk-method-name: test_call
      description: |
        Start a test call using the branch's current config. Send `includeDraft: true` to test the open draft, or send `revisionId` to test a specific committed revision on the branch. Sending both is a validation error.

        The response always includes `conversationId` and `callId`. For `webcall` and `chat`, it also includes `token`, `roomName`, and `host`. Those fields are omitted for `telephony`.
      tags:
        - Agent Versioning - Branches
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - $ref: "./components.yaml#/components/parameters/BranchId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/TestCallV2Request"
      responses:
        "200":
          description: Test call initiated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/TestCallResult"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/WorkflowGraphAgentAccessForbiddenError"
        "404":
          description: "Branch, agent, or referenced revision not found. Also returned when `includeDraft: true` is sent and no draft is open."
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/BadRequestErrorResponse"
        "409":
          description: The branch has no committed revision to test against.
          content:
            application/json:
              schema:
                $ref: "./components.yaml#/components/schemas/ConflictErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{id}/diff:
    get:
      operationId: diffRefs
      summary: Diff two revisions or drafts
      x-fern-sdk-group-name: agent_versioning_revisions
      x-fern-sdk-method-name: diff
      description: |
        Compare any two references on this agent and return per-section diffs. Each side (`a` and `b`) is either a `revisionId` or the string `<branchId>:draft` to reference the open draft on a branch. Sides may cross branches. Both references must resolve to configs on the same agent.
      tags:
        - Agent Versioning - Revisions
      security:
        - BearerAuth: []
      parameters:
        - $ref: "./components.yaml#/components/parameters/AgentId"
        - name: a
          in: query
          required: true
          description: Left-hand side. Either a `revisionId` (24-hex ObjectId) or the token `<branchId>:draft`.
          schema:
            type: string
            minLength: 1
            maxLength: 64
        - name: b
          in: query
          required: true
          description: Right-hand side. Either a `revisionId` (24-hex ObjectId) or the token `<branchId>:draft`.
          schema:
            type: string
            minLength: 1
            maxLength: 64
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/DiffResult"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          $ref: "./components.yaml#/components/responses/NotFoundErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"

  # ══════════════════════════════════════════════════════════════════════
  # end v2 branch model
  # ══════════════════════════════════════════════════════════════════════

  # ── GET /agent/{id}/resolved-config — REMOVED ──────────────────────────
  # Unused by UI. Resolved config is served via GET /agent/{id}?draftId=X
  # which merges _resolvedConfig into the agent DTO. Marked for backend
  # removal in tasks/09-backend-misc-cleanup.md.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from the console ApiKey collection, sent as Bearer token. Also accepts session cookies for browser-based auth.
tags:
  - name: Agent Versioning - Drafts
    description: |
      **Deprecated on the v2 branch model.** Use `PUT`/`GET`/`DELETE /agent/{id}/branches/{branchId}/draft` and `POST /agent/{id}/branches/{branchId}/draft/publish`. When `ENABLE_BRANCH_MODEL` is on, list + write endpoints under this tag return `409 versioning_v2_migration_required` with `Deprecation: true`. See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
  - name: Post-Call Analytics
    description: |
      Configure disposition metrics that are automatically extracted from each completed call (call resolved, satisfaction score, call outcome, summary, etc.). Post-call analytics is not a standalone endpoint — it is configured through the versioning system by setting the `postCallAnalyticsConfig` field in the body of `PATCH /agent/{id}/drafts/{draftId}/config`, then publishing and activating the draft. See the [Post-Call Metrics guide](/atoms/atoms-platform/features/post-call-metrics) for the full walkthrough.
  - name: Agent Versioning - Versions
    description: |
      **Deprecated on the v2 branch model.** Under the branch model, `activate` is gone (a branch is made live via `POST /agent/{id}/branches/{branchId}/live`) and only `label` (set at publish) is metadata-editable. When `ENABLE_BRANCH_MODEL` is on, list + write endpoints under this tag return `409 versioning_v2_migration_required` with `Deprecation: true`. By-id reads and test-calls are kept unchanged and resolve across branches (a v1 `versionId` equals its migrated `revisionId`). See the [migration guide](/api-reference/deprecations/agent-versioning-migration).
  - name: Agent Versioning - Branches
    description: |
      Manage editable copies of an agent. Every editable copy is a branch. Each agent has a `Main` branch by default; you can create more branches from any branch that has at least one committed revision. Exactly one branch per agent is **live** and serves production traffic. `Main` cannot be renamed or deleted; the live branch cannot be deleted or archived until another branch is made live. Requires `ENABLE_BRANCH_MODEL`.
  - name: Agent Versioning - Revisions
    description: |
      Read and restore committed revisions on a branch. A revision is an immutable snapshot of an agent's configuration created when a draft is published. Revisions belong to exactly one branch. Restoring a revision republishes it as a new revision on the same branch. Requires `ENABLE_BRANCH_MODEL`.
