openapi: 3.0.0
info:
  title: "Voice Agents API: Tools, Secrets, and Integrations"
  version: 1.0.0
  description: "Part of the Voice Agents (Atoms) API. Shared schemas live in components.yaml."
servers:
  - url: https://api.smallest.ai/atoms/v1
    description: Production server
paths:
  /integration/modify-webengage-integration:
    post:
      operationId: modifyWebEngageIntegration
      summary: Create or update WebEngage integration
      description: |
        Creates or updates the WebEngage integration for the organization. Replaces the existing integration configuration with the provided credential set(s).

        **Note:** This endpoint returns a direct JSON response — not the standard `{ success, data }` wrapper used by other endpoints.
      tags:
        - Integrations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [integrationSets]
              properties:
                integrationSets:
                  type: array
                  minItems: 1
                  description: One or more WebEngage credential sets
                  items:
                    $ref: "./components.yaml#/components/schemas/WebEngageIntegrationSet"
      responses:
        "200":
          description: Integration created or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Integration created successfully
                  data:
                    type: object
                    description: Integration details object
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "404":
          description: Organization not found
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /integration/get-webengage-details:
    get:
      operationId: getWebEngageDetails
      summary: Get WebEngage integration details
      description: |
        Returns the current WebEngage integration configuration for the organization.

        **Note:** This endpoint returns a direct JSON response — not the standard `{ success, data }` wrapper used by other endpoints.
      tags:
        - Integrations
      security:
        - BearerAuth: []
      responses:
        "200":
          description: WebEngage integration details
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Integration details retrieved successfully
                  data:
                    type: object
                    description: Integration details object
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /tool:
    get:
      summary: List tools
      x-fern-sdk-group-name: tools
      x-fern-sdk-method-name: list_tools
      tags:
        - Tools
      security:
        - BearerAuth: []
      description: List the organization's tools from the Tools library.
      responses:
        "200":
          description: The org's tools.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/ToolResource"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
    post:
      summary: Create a tool
      x-fern-sdk-group-name: tools
      x-fern-sdk-method-name: create_tool
      tags:
        - Tools
      security:
        - BearerAuth: []
      description: |
        Create a reusable tool in the org Tools library. Two types are supported:
        `api_call` and `client_tool` (system tools like transfer/end-call are
        configured per-agent, not here). Reference it from an agent by adding its
        returned `toolId` to `toolRefs` on the agent config.

        Referencing a tool makes it available; it does not force use. The agent only
        calls a tool when its prompt tells it to, so describe the tool's purpose and
        when to trigger it in the agent's prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/CreateToolRequest"
      responses:
        "201":
          description: Tool created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/ToolResource"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /tool/{toolId}:
    patch:
      summary: Update a tool
      x-fern-sdk-group-name: tools
      x-fern-sdk-method-name: update_tool
      tags:
        - Tools
      security:
        - BearerAuth: []
      description: |
        Update a tool's definition. Propagates live to every agent that references
        this tool (their config cache is busted on update).
      parameters:
        - name: toolId
          in: path
          required: true
          description: "The tool id, format `tool_<24 lowercase alphanumerics>`."
          schema:
            type: string
            pattern: "^tool_[a-z0-9]{24}$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/CreateToolRequest"
      responses:
        "200":
          description: Tool updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/ToolResource"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
    delete:
      summary: Delete a tool
      x-fern-sdk-group-name: tools
      x-fern-sdk-method-name: delete_tool
      tags:
        - Tools
      security:
        - BearerAuth: []
      description: |
        Delete a tool from the library. Blocked with `400` if any agent still
        references it — remove it from those agents first.
      parameters:
        - name: toolId
          in: path
          required: true
          schema:
            type: string
            pattern: "^tool_[a-z0-9]{24}$"
      responses:
        "200":
          description: Tool deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: "Tool deleted successfully"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /tool/{toolId}/duplicate:
    post:
      summary: Duplicate a tool
      x-fern-sdk-group-name: tools
      x-fern-sdk-method-name: duplicate_tool
      tags:
        - Tools
      security:
        - BearerAuth: []
      description: Clone a tool into a new library tool with a new `toolId`.
      parameters:
        - name: toolId
          in: path
          required: true
          schema:
            type: string
            pattern: "^tool_[a-z0-9]{24}$"
      responses:
        "201":
          description: Tool duplicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/ToolResource"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /secret:
    get:
      summary: List secret names
      x-fern-sdk-group-name: secrets
      x-fern-sdk-method-name: list_secrets
      tags:
        - Secrets
      security:
        - BearerAuth: []
      description: |
        List the organization's secrets. **Write-only vault** — only names and
        metadata are returned, never the values.
      responses:
        "200":
          description: The org's secret names.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/Secret"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
    post:
      summary: Create a secret
      x-fern-sdk-group-name: secrets
      x-fern-sdk-method-name: create_secret
      tags:
        - Secrets
      security:
        - BearerAuth: []
      description: |
        Create a secret. The value is encrypted at rest and never returned — the
        response contains only the name. Reference it by name from a tool's `auth`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/CreateSecretRequest"
      responses:
        "201":
          description: Secret created (name only).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    $ref: "./components.yaml#/components/schemas/Secret"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /secret/{secretId}:
    delete:
      summary: Delete a secret
      x-fern-sdk-group-name: secrets
      x-fern-sdk-method-name: delete_secret
      tags:
        - Secrets
      security:
        - BearerAuth: []
      description: Delete a secret from the vault.
      parameters:
        - name: secretId
          in: path
          required: true
          description: The secret's MongoDB id (24-char hex).
          schema:
            type: string
            pattern: "^[a-f\\d]{24}$"
      responses:
        "200":
          description: Secret deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: "Secret deleted successfully"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from the console ApiKey collection, sent as Bearer token. Also accepts session cookies for browser-based auth.
tags:
  - name: Integrations
    description: Third-party platform integrations. Currently supports WebEngage — a customer engagement platform. Credentials are stored per organization as one or more integration sets.
