openapi: 3.0.0
info:
  title: "Voice Agents API: Webhooks"
  version: 1.0.0
  description: "Part of the Voice Agents (Atoms) API. Shared schemas live in components.yaml."
servers:
  - url: https://api.smallest.ai/atoms/v1
    description: Production server
paths:
  /webhook:
    get:
      summary: Get webhooks
      description: Retrieve all webhooks for the organization or a specific webhook by ID
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: webhookId
          schema:
            type: string
          description: Optional MongoDB ObjectId (24-char hex) of a specific webhook to retrieve. If omitted, returns all webhooks for the organization.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    oneOf:
                      - $ref: "./components.yaml#/components/schemas/Webhook"
                      - type: array
                        items:
                          $ref: "./components.yaml#/components/schemas/Webhook"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
    post:
      summary: Create a webhook
      x-fern-sdk-group-name: webhooks
      x-fern-sdk-method-name: create
      description: |
        Create a new webhook with subscriptions for specific agents and events.

        **400 is also returned when the endpoint URL is already registered:**
        `"A webhook with this URL has already been registered"`
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endpoint:
                  type: string
                  description: The webhook endpoint URL
                  example: "https://example.com/webhook"
                description:
                  type: string
                  description: The description of the webhook
                  example: "Webhook for conversation events"
                events:
                  type: array
                  description: Array of events to subscribe to
                  items:
                    type: object
                    required:
                      - agentId
                      - eventType
                    properties:
                      agentId:
                        type: string
                        description: The ID of the agent
                        example: "60d0fe4f5311236168a109ca"
                      eventType:
                        type: string
                        enum: [pre-conversation, post-conversation, analytics-completed]
                        description: The type of event to subscribe to
                        example: "post-conversation"
              required:
                - endpoint
                - description
                - events
      responses:
        "201":
          description: Webhook created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: string
                    description: The ID of the created webhook
                    example: "60d0fe4f5311236168a109ca"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /webhook-events/pre-conversation:
    post:
      x-fern-webhook: true
      tags:
        - Webhooks
      summary: pre-conversation
      operationId: webhookEventPreConversation
      description: |
        Fired **before** the agent begins speaking. Use this to enrich CRM
        data, log call attempts, or gate outbound calls.

        Does **not** contain `callData`, `transcript`, `variables`, `analytics`,
        or `recordingUrl`. `callData` is on `post-conversation` and
        `analytics-completed`; `transcript`, `variables`, and `recordingUrl`
        are only on `post-conversation`; `analytics` is only on
        `analytics-completed`.

        **Delivery.** Sent as an HTTP POST with a 30 second timeout. Non-2xx
        responses and network errors mark the delivery as failed; there are
        no retries. Verify the `X-Signature` header before trusting the body.
        For the full field-level reference, see the [Webhooks guide](/atoms/atoms-platform/features/webhooks).
      parameters:
        - in: header
          name: X-Signature
          required: true
          description: |
            Hex-encoded HMAC-SHA256 of the raw request body, keyed by the
            webhook's signing secret. See the [Webhooks guide](/atoms/atoms-platform/features/webhooks#verifying-signatures)
            for verification samples.
          schema:
            type: string
            example: "b0c3a1e4f2..."
      requestBody:
        description: Event body delivered to your configured webhook URL.
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/WebhookEventPreConversation"
      responses:
        "2XX":
          description: Your endpoint should return a 2XX status to acknowledge receipt.
  /webhook-events/post-conversation:
    post:
      x-fern-webhook: true
      tags:
        - Webhooks
      summary: post-conversation
      operationId: webhookEventPostConversation
      description: |
        Fired **after** the call ends. Contains the full transcript, call
        metadata, recording URL, and all agent variables that were in scope
        during the conversation.

        **Delivery.** Sent as an HTTP POST with a 30 second timeout. Non-2xx
        responses and network errors mark the delivery as failed; there are
        no retries. Verify the `X-Signature` header before trusting the body.
        For the full field-level reference, see the [Webhooks guide](/atoms/atoms-platform/features/webhooks).
      parameters:
        - in: header
          name: X-Signature
          required: true
          description: |
            Hex-encoded HMAC-SHA256 of the raw request body, keyed by the
            webhook's signing secret. See the [Webhooks guide](/atoms/atoms-platform/features/webhooks#verifying-signatures)
            for verification samples.
          schema:
            type: string
            example: "b0c3a1e4f2..."
      requestBody:
        description: Event body delivered to your configured webhook URL.
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/WebhookEventPostConversation"
      responses:
        "2XX":
          description: Your endpoint should return a 2XX status to acknowledge receipt.
  /webhook-events/analytics-completed:
    post:
      x-fern-webhook: true
      tags:
        - Webhooks
      summary: analytics-completed
      operationId: webhookEventAnalyticsCompleted
      description: |
        Fired **after** Atoms finishes running the configured disposition and
        success metrics on the transcript. Arrives some time after
        `post-conversation`.

        **Delivery.** Sent as an HTTP POST with a 30 second timeout. Non-2xx
        responses and network errors mark the delivery as failed; there are
        no retries. Verify the `X-Signature` header before trusting the body.
        For the full field-level reference, see the [Webhooks guide](/atoms/atoms-platform/features/webhooks).
      parameters:
        - in: header
          name: X-Signature
          required: true
          description: |
            Hex-encoded HMAC-SHA256 of the raw request body, keyed by the
            webhook's signing secret. See the [Webhooks guide](/atoms/atoms-platform/features/webhooks#verifying-signatures)
            for verification samples.
          schema:
            type: string
            example: "b0c3a1e4f2..."
      requestBody:
        description: Event body delivered to your configured webhook URL.
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/WebhookEventAnalyticsCompleted"
      responses:
        "2XX":
          description: Your endpoint should return a 2XX status to acknowledge receipt.
  /webhook/{id}:
    patch:
      summary: Update a webhook
      x-fern-sdk-group-name: webhooks
      x-fern-sdk-method-name: update
      description: |
        Update a webhook's endpoint URL, description, or custom headers. At
        least one of the three fields must be present in the request body.

        **Event subscriptions cannot be changed here.** To add or remove an
        agent's subscription to this webhook, use `POST /agent/{agentId}/webhook-subscriptions`
        and `DELETE /agent/{agentId}/webhook-subscriptions`.

        **Custom `headers` behavior**
        - Send a non-empty object to replace all custom headers on the webhook.
        - Send an empty object (`{}`) to clear all custom headers.
        - Omit the field to leave existing custom headers untouched.

        Custom header limits: at most 10 headers per webhook, values up to
        1024 characters, header names must match RFC 7230 token syntax. The
        following names are reserved and rejected: `x-signature`, `host`,
        `content-length`, `content-type`, `connection`, `transfer-encoding`.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the webhook to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                endpoint:
                  type: string
                  format: uri
                  description: New endpoint URL. Must be a valid URL.
                  example: "https://example.com/webhook"
                description:
                  type: string
                  description: New human-readable label.
                  example: "Debt Collection Agent's Endpoint"
                headers:
                  type: object
                  additionalProperties:
                    type: string
                  description: |
                    Map of custom header names to values. Non-empty object replaces
                    all existing headers; empty object clears them.
                  example:
                    x-api-key: "your-gateway-key"
      responses:
        "200":
          description: Webhook updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: string
                    description: The ID of the updated webhook.
                    example: "60d0fe4f5311236168a109ca"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "404":
          description: Webhook not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: false
                  errors:
                    type: array
                    items:
                      type: string
                    example: ["Webhook not found"]
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
    delete:
      summary: Delete a webhook
      x-fern-sdk-group-name: webhooks
      x-fern-sdk-method-name: delete
      description: |
        Delete a webhook by its ID.

        **400 is returned when the webhook still has active agent subscriptions:**
        `"Cannot delete webhook: It is currently assigned to one or more agents. Please remove all agent assignments first."`
        Call `DELETE /agent/{agentId}/webhook-subscriptions` for each assigned agent before deleting.

        **400 is also returned for an invalid webhook ID format:**
        `"The provided Webhook ID is invalid."`
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the webhook to delete
          schema:
            type: string
      responses:
        "200":
          description: Webhook deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: string
                    description: Success message
                    example: "Webhook deleted successfully"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "404":
          description: Webhook not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: false
                  errors:
                    type: array
                    items:
                      type: string
                    example: ["Webhook not found"]
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
  /agent/{agentId}/webhook-subscriptions:
    get:
      summary: Get webhook subscriptions for an agent
      description: Retrieve webhook subscriptions for a given agent ID
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: agentId
          required: true
          description: The ID of the agent
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/WebhookSubscription"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: false
                  errors:
                    type: array
                    items:
                      type: string
                    example: ["Agent not found"]
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
    post:
      summary: Replace webhook subscriptions for an agent
      description: |
        **Replaces** all existing webhook subscriptions for the agent with the provided event types.
        Any previously configured subscriptions for this agent are deleted before the new ones are created.
        To add subscriptions without removing existing ones, retrieve current subscriptions first and include them in the request.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: agentId
          required: true
          description: The ID of the agent to create subscriptions for
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                eventTypes:
                  type: array
                  description: Array of event types to subscribe to
                  items:
                    type: string
                    enum: [pre-conversation, post-conversation, analytics-completed]
                    description: The type of event to subscribe to
                    example: "post-conversation"
                webhookId:
                  type: string
                  description: The ID of the webhook to subscribe to
                  example: "60d0fe4f5311236168a109ca"
              required:
                - eventTypes
                - webhookId
      responses:
        "201":
          description: Subscriptions created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: string
                    description: Success message
                    example: "Subscriptions created successfully"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: false
                  errors:
                    type: array
                    items:
                      type: string
                    example: ["Agent not found"]
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
    delete:
      summary: Delete webhook subscriptions for an agent
      description: |
        Deletes **all** webhook subscriptions for the agent, regardless of which webhook they belong to.
        If the agent has subscriptions across multiple webhooks, all of them are removed in a single call.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: agentId
          required: true
          description: The ID of the agent to filter subscriptions by
          schema:
            type: string
      responses:
        "200":
          description: Subscriptions deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: string
                    description: Success message
                    example: "Subscriptions deleted successfully"
        "400":
          $ref: "./components.yaml#/components/responses/BadRequestError"
        "401":
          $ref: "./components.yaml#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "./components.yaml#/components/responses/ForbiddenError"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: false
                  errors:
                    type: array
                    items:
                      type: string
                    example: ["Agent not found"]
        "500":
          $ref: "./components.yaml#/components/responses/InternalServerErrorResponse"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from the console ApiKey collection, sent as Bearer token. Also accepts session cookies for browser-based auth.
tags:
  - name: Webhooks
    description: Operations related to webhooks and webhook subscriptions
