openapi: 3.0.1
info:
  title: Waves API
  description: |
    API for the new Waves text-to-speech model.
    Currently featuring our two models, Lightning & Lightning Large, with more models coming soon.
  version: 1.0.0
servers:
  - url: https://api.smallest.ai
    description: Waves API server

paths:
  /waves/v1/lightning-large/add_voice:
    post:
      tags:
        - Voice Cloning
      summary: Add a new voice to the model
      description: Instantly clone a voice by uploading an audio file for the specified model.
      operationId: addVoiceToModel
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: Display name for the voice clone.
                file:
                  type: string
                  format: binary
                  description: Audio file to create voice clone from.
              required:
                - displayName
                - file
      responses:
        '200':
          description: Voice clone created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Message if the voice clone was created successfully.
                  data:
                    type: object
                    properties:
                      voiceId:
                        type: string
                        description: Unique Voice ID.
                      model:
                        type: string
                        description: Model used to generate the voice.
                      status:
                        type: string
                        description: Status of the voice creation.
                    required:
                      - voiceId
                      - model
                      - status
        '400':
          description: Bad request or limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
        '500':
          description: Server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication