openapi: 3.0.1
info:
  title: Waves API
  description: |
    API for the new Waves text-to-speech model.
    Currently featuring our two models, Lightning & Lightning Large, with more models coming soon.
  version: 1.0.0
servers:
  - url: https://api.smallest.ai
    description: Waves API server

paths:
  /waves/v1/lightning-large:
    delete:
      tags:
        - Voice Cloning
      summary: Delete a voice clone
      description: Deletes a voice clone associated with the authenticated user.
      operationId: deleteVoiceClone
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                voiceId:
                  type: string
                  description: The unique identifier of the voice clone to delete.
              required:
                - voiceId
      responses:
        '200':
          description: Voice clone deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - voiceId
                properties:
                  success:
                    type: boolean
                    description: Status if the voice clone was deleted successfully.
                  voiceId:
                    type: string
                    description: Voice ID of the deleted voice clone.
        '400':
          description: Bad request (Invalid voice ID or validation error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
        '500':
          description: Server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication
