openapi: 3.0.1
info:
  title: Waves TTS API
  description: |
    Model-agnostic text-to-speech API. The same routes serve every Lightning
    model — the model is selected via the `model` body parameter.

    Supersedes the model-named routes under `/waves/v1/lightning-v3.1/`. Those
    routes still work but are deprecated; new integrations should use this API
    and pick a model with the body parameter instead.
  version: 1.0.0
servers:
- url: https://api.smallest.ai
  description: Waves API server
  x-fern-server-name: waves
paths:
  /waves/v1/tts:
    post:
      tags:
      - Text to Speech
      operationId: synthesizeSpeech
      summary: Synthesize speech
      description: |
        Synthesize speech from text in a single request. Pass `text` + `voice_id`, get back binary audio.

        Pick the model with the `model` body parameter: default `lightning_v3.1`, or `lightning_v3.1_pro` for the Pro pool. Other request parameters are identical across models.

        ## When to use this

        - **Use this** for short utterances you can render before playback (notifications, prompts, batch jobs, audio file generation).
        - **Use `/waves/v1/tts/live`** when you want playback to start before the full audio is ready (long passages, latency-sensitive apps).
        - **Use `/waves/v1/tts/live`** (WebSocket) when text arrives incrementally (LLM token streams, live captioning).

        ## Key features

        - 44 kHz natural, expressive synthesis
        - Model selectable per request via `model` body parameter
        - Cloned voice IDs (`voice_*`) work on `lightning_v3.1` — same param as catalog voices
        - 12 documented languages on `lightning_v3.1`; English + Hindi on `lightning_v3.1_pro`
        - Output formats: `pcm`, `mp3`, `wav`, `ulaw`, `alaw`
        - Sample rates: 8 kHz – 44.1 kHz
        - Speed: 0.5× – 2×
        - Per-call pronunciation dictionaries via `pronunciation_dicts`

        ## Examples

        **cURL — Lightning v3.1 (default)**
        ```bash
        curl -X POST "https://api.smallest.ai/waves/v1/tts" \
          -H "Authorization: Bearer $SMALLEST_API_KEY" \
          -H "Content-Type: application/json" \
          -H "Accept: audio/wav" \
          -d '{
            "text": "Hello from Waves TTS.",
            "voice_id": "magnus",
            "sample_rate": 24000,
            "output_format": "wav"
          }' --output speech.wav
        ```

        **cURL — Lightning v3.1 Pro**
        ```bash
        curl -X POST "https://api.smallest.ai/waves/v1/tts" \
          -H "Authorization: Bearer $SMALLEST_API_KEY" \
          -H "Content-Type: application/json" \
          -H "Accept: audio/wav" \
          -d '{
            "text": "Hello from the Lightning v3.1 Pro pool.",
            "voice_id": "meher",
            "model": "lightning_v3.1_pro",
            "sample_rate": 24000,
            "output_format": "wav"
          }' --output speech.wav
        ```

        ## Common gotchas

        - **Set `Accept: audio/wav`.** Omitting it can return an empty or unplayable response.
        - **Pair voice IDs with the right model.** Voice catalogs differ between `lightning_v3.1` and `lightning_v3.1_pro`. The API does not reject mismatched pairings, but using a Pro-only `voice_id` with `model=lightning_v3.1` (or omitting `model`) can return wrong or hallucinated audio. Pair Pro voices with `model=lightning_v3.1_pro`; standard catalog voices with `model=lightning_v3.1` (the default).
        - **Cloned voices** (`voice_*` from `add_voice`) work with `lightning_v3.1` only; voice cloning is not available on `lightning_v3.1_pro`.
        - **44.1 kHz output** is supported but most playback environments are happy with 24 kHz — drop the sample rate if bandwidth matters.
      parameters:
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - audio/wav
          default: audio/wav
        description: Must be `audio/wav` to receive binary audio. Required for proper playback.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TtsRequest'
            example:
              text: Hello from Waves TTS.
              voice_id: magnus
              model: lightning_v3.1
              output_format: mp3
              sample_rate: 44100
              speed: 1.0
      responses:
        '200':
          description: Synthesized speech retrieved successfully.
          headers:
            X-Session-Id:
              schema:
                type: string
              description: Internal session identifier (system-generated UUID).
            X-Request-Id:
              schema:
                type: string
              description: Internal request identifier (system-generated UUID).
            X-External-Session-Id:
              schema:
                type: string
              description: Echoed client-provided session_id (empty if not provided).
            X-External-Request-Id:
              schema:
                type: string
              description: Echoed client-provided request_id (empty if not provided).
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: A PCM int16 WAV file at the specified sample rate.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TtsError'
              example:
                error: InvalidRequest
                message: The 'text' field is required.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TtsError'
              example:
                error: Unauthorized
                message: Bearer token is missing or invalid.
        '500':
          description: Server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TtsError'
              example:
                error: InternalServerError
                message: An unexpected error occurred.
  /waves/v1/tts/live:
    post:
      tags:
      - Text to Speech
      operationId: synthesizeSpeechSse
      summary: Stream speech (SSE)
      description: |
        Synthesize speech and stream the audio back over Server-Sent Events. Same body as `/waves/v1/tts` — the only difference is the response is a stream of base64-encoded PCM chunks instead of one binary blob.

        Pick the model with the `model` body parameter, same as the sync route.

        <Note>
          **The same URL serves the WebSocket endpoint.** `wss://api.smallest.ai/waves/v1/tts/live` accepts a WebSocket upgrade for streaming-text scenarios (LLM token streams, live captioning). The HTTP `POST` documented on this page returns SSE; use `wss://` to use the WebSocket protocol instead. See the [WebSocket reference](/waves/api-reference/api-reference/text-to-speech/live-tts-web-socket).
        </Note>

        ## When to use this

        - **Use this** when you want playback to start before synthesis is complete — long passages, latency-sensitive UI, live narration.
        - **Use sync `/waves/v1/tts`** when total latency doesn't matter and you'd rather get one buffer.
        - **Use `/waves/v1/tts/live`** (WebSocket) when the *text* arrives incrementally (LLM token stream). SSE assumes you have the full text up front.

        ## How it works

        1. POST your text + voice settings — same payload as `/waves/v1/tts`, plus optional `model`.
        2. The response is `Content-Type: text/event-stream`. Each chunk frame is `event: audio\n` followed by `data: {"audio": "<base64-pcm>"}\n\n`.
        3. Decode each chunk's `audio` field with base64 and feed the PCM bytes to your audio pipeline (browser `MediaSource`, ffmpeg pipe, raw PCM player, etc.).
        4. A final `data: {"done": true}\n\n` frame marks end of stream.

        ## Examples

        **cURL**
        ```bash
        curl -N -X POST "https://api.smallest.ai/waves/v1/tts/live" \
          -H "Authorization: Bearer $SMALLEST_API_KEY" \
          -H "Content-Type: application/json" \
          -d '{
            "text": "Streaming this paragraph chunk by chunk so playback can start sooner.",
            "voice_id": "magnus",
            "sample_rate": 24000,
            "output_format": "pcm"
          }'
        ```

        ## Common gotchas

        - **Use a streaming-friendly client.** `curl -N`, Python `iter_lines`, or a `fetch` `ReadableStream` reader. Buffering clients will hide the latency win.
        - **Audio is base64 inside the event payload**, not the raw event bytes. Decode the `data.audio` field per event.
        - **`output_format=pcm`** gives the lowest overhead for streaming playback. `wav`/`mp3` work but add per-chunk framing bytes.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TtsRequest'
      responses:
        '200':
          description: Synthesized speech retrieved successfully.
          headers:
            X-Session-Id:
              schema:
                type: string
              description: Internal session identifier (system-generated UUID).
            X-Request-Id:
              schema:
                type: string
              description: Internal request identifier (system-generated UUID).
            X-External-Session-Id:
              schema:
                type: string
              description: Echoed client-provided session_id (empty if not provided).
            X-External-Request-Id:
              schema:
                type: string
              description: Echoed client-provided request_id (empty if not provided).
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  SSE stream of `event: audio` frames carrying base64-encoded PCM chunks, terminated by a `data: {"done": true}` frame.
              example: |
                event: audio
                data: {"audio": "<base64-encoded PCM chunk>"}

                data: {"done": true}
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TtsError'
              example:
                error: InvalidRequest
                message: The 'text' field is required.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TtsError'
              example:
                error: Unauthorized
                message: Bearer token is missing or invalid.
        '500':
          description: Server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TtsError'
              example:
                error: InternalServerError
                message: An unexpected error occurred.
components:
  schemas:
    TtsRequest:
      type: object
      required:
      - text
      - voice_id
      properties:
        text:
          type: string
          description: The text to convert to speech.
          default: Hello from Waves TTS.
        voice_id:
          type: string
          description: The voice identifier to use for speech generation. See the model card for available voices per model.
          default: magnus
        model:
          type: string
          description: |
            TTS model to route the request to. Controls which model pool serves
            this synthesis.

            - `lightning_v3.1` (default) — standard Lightning v3.1.
            - `lightning_v3.1_pro` — Lightning v3.1 Pro pool. Improved audio
              quality and naturalness, with a curated voice catalog. See the
              [Lightning v3.1 Pro model card](/waves/model-cards/text-to-speech/lightning-v-3-1-pro)
              for supported voice IDs.

            Same concurrency and latency profile across both. Other request
            parameters behave identically.
          enum:
          - lightning_v3.1
          - lightning_v3.1_pro
          default: lightning_v3.1
        sample_rate:
          type: integer
          description: The sample rate for the generated audio.
          enum:
          - 8000
          - 16000
          - 24000
          - 44100
          default: 44100
        speed:
          type: number
          description: The speed of the generated speech.
          minimum: 0.5
          maximum: 2
          default: 1.0
        language:
          type: string
          description: |
            Language code for synthesis. Influences pronunciation, number/date
            normalization, and phoneme selection.

            Each voice has its own `tags.language` set in the voice catalog —
            query `GET /waves/v1/lightning-v3.1/get_voices`. Pass a language
            the voice was trained on; passing other codes is accepted by the
            API but produces English-pronounced output.

            On `lightning_v3.1`, the full 12-language catalog applies. On
            `lightning_v3.1_pro`, Indian voices speak `en` and `hi` (with
            `auto` for code-switching); British and American voices speak
            English only.
          default: en
          enum:
          - auto
          - en
          - hi
          - mr
          - kn
          - ta
          - bn
          - gu
          - te
          - ml
          - pa
          - or
          - es
        output_format:
          type: string
          description: |
            Format of the returned audio. `pcm` is the lowest-latency option
            but requires a decoder to play; `mp3` and `wav` are directly
            playable in browsers and most media players. The server default
            is `pcm` when the field is omitted — the API playground uses
            `mp3` so the generated audio is directly playable.
          default: pcm
          example: mp3
          enum:
          - mp3
          - pcm
          - wav
          - ulaw
          - alaw
        pronunciation_dicts:
          type: array
          items:
            type: string
            description: The ID of the pronunciation dictionary to use for speech generation.
          description: The IDs of the pronunciation dictionaries to use for speech generation. Available on both `lightning_v3.1` and `lightning_v3.1_pro`.
        session_id:
          type: string
          description: Optional client-provided session identifier for correlation. Only alphanumeric characters, hyphens, underscores, and dots are allowed. Max 128 characters. Echoed back in response headers as `X-External-Session-Id`.
          maxLength: 128
          pattern: ^[a-zA-Z0-9_\-.]+$
        request_id:
          type: string
          description: Optional client-provided request identifier for correlation. Only alphanumeric characters, hyphens, underscores, and dots are allowed. Max 128 characters. Echoed back in response headers as `X-External-Request-Id`.
          maxLength: 128
          pattern: ^[a-zA-Z0-9_\-.]+$
    TtsError:
      type: object
      properties:
        error:
          type: string
          description: Error type.
        message:
          type: string
          description: Error message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
