/* Shrinks the product toggle */
.product-dropdown-trigger {
    font-size: var(--text-xs) !important;
    padding: 2px 8px !important;
}

@media (min-width: 1024px) {

    #fern-search-button {
        margin-left: 1rem !important;

    }

    .fern-product-selector {

        margin-left: 1rem !important;
        margin-right: 0.5rem !important;
    }
}