/* Shrinks the product toggle */
.product-dropdown-trigger {
    font-size: var(--text-xs) !important;
    padding: 2px 8px !important;
}

@media (min-width: 1024px) {
    .fern-product-selector {
        margin-left: .75rem;
        margin-right: .75rem;
    }
}